vendor/
.idea/
.DS_Store
config.toml
main
data/
log/
trade-server
log/
temp/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.swp
*.bak
*.html
*.swo
*.log
*.o
datatree/ssdtester/ssdtester
*.dat
indextree/b/cppbtree/fuzz/fuzz
*.go~
indextree/fuzz/fuzz
*.swn
datatree/fuzz/fuzz
*.swm
datatree/fuzz/datadir
*.swl
*.old
datatree/a.sh
store/rabbit/rwbench/rwbench
store/rabbit/accbench/accbench
*.json
*.new
*.note
*.sh
